.App {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
  margin: 5px 0;
}

button {
  margin: 0 5px;
}

button:disabled {
  opacity: 0.5;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f4f4f4;
  width: 200px;
  height: 200px;
  margin: 40% 0;
  padding: 10px;
}

li [input=title] {
  width: 100px;
}
